.card {
  display: flex;
  flex-direction: column;
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.author p {
  color: #aeb1b4;
}

.author p:first-of-type {
  font-size: 36px;
  margin-bottom: 10px;
}

.author p:last-of-type {
  font-size: 24px;
}